:root {
    color: purple;
    
}

.ResolutionItem.low {
    background: lightblue
}

.ResolutionItem.medium {
    background: lightgreen
}

.ResolutionItem.high {
    background: lightcoral
}

.ResolutionItem.complete {
    opacity: 0.4;
}

